.header-links {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  flex-direction: row;
  position: relative;
  right: 18%;
}

button {
  margin: 1px;
  border: none;
  font-size: 16px;
  padding: 9px 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
}

.globo button {
  padding: 9px 7px 12px;
}

.globo button:hover {
  border-top: 3px solid rgb(86, 144, 239);
}

.g1 button {
  margin: 1px;
  color: #c4170c;
}

.g1 button:hover {
  border-top: 3px solid #c4170c;
}

.ge button {
  padding: 9px 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  color: #06aa48;
}

.ge button:hover {
  border-top: 3px solid #06aa48;
}

.gshow button {
  margin: 1px;
  padding: 9px 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  color: #ff6700;
}

.gshow button:hover {
  border-top: 3px solid #ff6700;
}

.globoplay button {
  margin: 1px;
  padding: 9px 7px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  color: #fb0234;
}

.globoplay button:hover {
  border-top: 3px solid #fb0234;
}

.sidebar {
  margin: 1px;
  padding-top: 9px;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  color: #9a9a9a;
}

.ge-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #06aa48;
  font-size: 40px;
  color: white;
  font: bolder;
  font-family: Arial, Helvetica, sans-serif;
  height: 75px;
  padding: 0px 15px;
}

.ge-bar div {
  min-width: 150px;
}

.search {
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  max-width: 950px;
  padding: 0 50px;
}

.grid-news {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  grid-gap: 10px;
  grid-template-areas:
    'a a b b'
    'a a c c';
}

.img1 {
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.img2 {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img3 {
  grid-area: c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 img {
  width: auto;
  height: 100%;
}

.img2 img {
  width: 100%;
  height: auto;
}

.img3 img {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: 100%;
}

.imgTextTitle1 {
  color: white;
  position: absolute;
  top: 83%;
  left: 4%;
  font: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}

.imgTextDescription1 {
  color: white;
  position: absolute;
  top: 88%;
  left: 4%;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgTextTitle2 {
  color: white;
  position: absolute;
  top: 45%;
  left: 51%;
  font: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}

.imgTextDescription2 {
  color: white;
  position: absolute;
  top: 49%;
  left: 51%;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgTextTitle3 {
  color: white;
  position: absolute;
  top: 85%;
  left: 51%;
  font: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}

.imgTextDescription3 {
  color: white;
  position: absolute;
  top: 89%;
  left: 51%;
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  color: white;
  font: bold;
}

.menuText {
  font-size: 20px;
}

.pipe {
  font-size: 20px;
}

.timesText {
  font-size: 20px;
}
